.navbar-toggler {
    border: none;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%2833, 37, 41, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
/* Фонові стилі для меню */
.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
    transition: color 0.3s;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: #007bff;
}
/* Адаптивність для секцій */
header {
    background-image: linear-gradient(to right, #007bff, #6610f2);
}
.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}
@media (max-width: 576px) {
    header .display-4 {
        font-size: 1.8rem;
    }
    .card-title {
        font-size: 1.2rem;
    }
}

.old-price {
    text-decoration: line-through; /* Закреслення тексту */
    color: inherit; /* Залишає колір таким, як задано у батьківського елемента */
  }
  
  .new-price {
    font-weight: bold; /* Можна виділити нову ціну, якщо потрібно */
  }

.col-md-6 h2{
    font-size: 55px;
    font-weight: bolder;
}
.col-md-6 p{
    font-size: 45px;
    font-weight: lighter;
}
  

